@import url(http://fonts.googleapis.com/css?family=Anaheim);
html, body {
    margin: 0;
    padding: 0;
    background: rgb(250,253,250);
    min-width: 600px;

    font-family: 'Segoe UI', 'Helvetica', sans-serif;
	position: relative;

	min-height: 500px;
	height: 100%;

	cursor: default;
}

ul {
	margin: 0px;
}

body {
	height: 100%;
	color: #333;
	background-color:#222;

	overflow: hidden;
}
div {
	cursor: inherit;
}
td{ vertical-align: top; }

td > ul {
	margin-top: 0px;
}


.scroller {
	overflow: auto;
}

div.tao {
    position: absolute; top:0px; right:0px;
    z-index: 0px;
    width:128px; height:128px;
    z-index: 0;
}
div.webkit{
    opacity:.5;
    z-index: 0;
    background:url(../images/webkit.black.png) 0 0 no-repeat;
    width:64px; height:64px;
    position:absolute; top:128px; right:32px;
    background-size:contain;
}

div.footer {
    position: absolute;
    bottom: 0px;
    height: 161px;
    width:100%;
    z-index: 0;
    /*background: url(../images/grass.png) bottom left repeat-x;*/
	background: red;
	background-size: 100%;
}


.hint {
    padding: 2px 8px;
    background:rgba(200,200,200, 1);
    border:1px solid rgba(230,230,230,1);
    color: rgb(50,70,50);
	text-shadow: 0px 0px 4px #eee;

	font-family: monospace;
}

.github-ribbon {
    position:absolute;
    top: -12px;
    right: -12px;

	width:64px;
	height:64px;
	background: url(../images/github.png) 0 0 no-repeat;

	-webkit-transform: scale(.5) rotate(0deg);
	-webkit-transition: -webkit-transform 200ms ease-in;
	-moz-transform: scale(.5) rotate(0deg);
	-moz-transition: -webkit-transform 200ms ease-in;
	-o-transform: scale(.5) rotate(0deg);
	-o-transition: -webkit-transform 200ms ease-in;
	transform: scale(.5) rotate(0deg);
	transition: -webkit-transform 200ms ease-in;


	z-index: 5;

}
.github-ribbon:before {
	content: 'Fork';
	z-index: 4;
	color:#eee;
	position: absolute;
	left: -100%;
	top:0px;
	line-height: 64px;
}

.github-ribbon:hover{

	-webkit-transform: scale(1) rotate(360deg);
	-moz-transform: scale(1) rotate(360deg);
	-o-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);

}

.pageWrapper {
	height:100%;
	min-height:100%;
	min-width: 800px;

	padding-top: 50px;
	border-left: 250px solid transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;

	background:#2D2C2B url(../images/dark_tire.png) 0 0 repeat;
}
.pageWrapper:before{
	position: absolute;
	content: ' ';
	width:10px;
	height: 50px;

	top:0px;
	left: 250px;
	border-left: 1px dashed #444;
	box-shadow: inset 2px 0px 10px #222;
}


.page {
	height: 100%;
	background: #389C44 url(../images/test.jpg) 0 0 repeat;
	background-size: cover;
	position: relative;
}


button{
	outline: none;
	position: relative;
	color: #292929;
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	padding: 6px 18px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid rgba(15, 15, 15, 0.4);
    background:transparent;
	background: -webkit-linear-gradient(top, #e1e1e1, #aaa);
    background: -moz-linear-gradient(top, #e1e1e1, #aaa);
    background: -o-linear-gradient(top, #e1e1e1, #aaa);
    background: -ms-linear-gradient(top, #e1e1e1, #aaa);

	text-overflow: ellipsis;
	cursor: pointer;
    letter-spacing: 1px;
}
button:active {
	background: -webkit-linear-gradient(top, #aaa, #e1e1e1); top: 1px;
    background: -moz-linear-gradient(top, #aaa, #e1e1e1);
    background: -o-linear-gradient(top, #aaa, #e1e1e1);

}
div.radioButtonsfg {
	float:left;
	margin-right: 15px;
}
div.radioButtons > button {
    border-right-width: 0px;
    border-radius: 0px;
    border-left: 1px solid rgba(15,15,15,.4);

	-webkit-transition: box-shadow 100ms linear, background-color 200ms linear;
	-moz-transition: box-shadow 100ms linear, background-color 200ms linear;
	-o-transition: box-shadow 100ms linear, background-color 200ms linear;

	line-height: 1em;

	text-shadow: none;
}
div.radioButtons > button:first-child{
    border-left-width: 1px;
    /*border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;*/
}
div.radioButtons > button:last-child{

    border-right-width: 1px;
    /*border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;*/
}
div.radioButtons > button.active {
    box-shadow: inset 0px 0px 10px #000;
    border-color: rgba(0,0,0,.5);
    background:transparent;
    color:#fff;
    text-shadow: 0px 0px 5px #000;
}

.tabPanel > * { display: none; }
.tabPanel > *.active { display: block; }


/** content */

.view .scroller  {
    /*background: #EEEEEE url(../images/dust.png) 0 0 repeat;*/
	background: #F3F0ED url(../images/dust2.png) 0 0 repeat;
}

.container {
    /*min-height:100%;*/
    padding: 10px;
}

h6, h5, h4 { margin:3px 0px; padding: 4px 0px; }
h5 {
    color: #444;
}

code {
	border-left: 2px solid hsl(30,20%,25%);
    display: inline-block;
	background: rgba(88,88,88,.1);
}

pre > code {
	background: transparent;
}

code, pre{
    padding: 0px 5px !important;
    margin: 2px !important;
}
ul.tiny {margin-left: 8px; padding-left: 5px;}
ul.tiny li { margin-bottom: 4px; padding-bottom: 4px; border-bottom: 2px dotted #bbb; }

p {
    padding: 5px;
    margin:3px;
}


.collapsable { margin-right: 30px; cursor: pointer; }
.collapsable > span {
    -webkit-transition: -webkit-transform 100ms linear;
    -moz-transition: -moz-transform 100ms linear;
    -o-transition: -o-transform 100ms linear;
    -ms-transition: -ms-transform 100ms linear;

    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
.collapsable.closed > span {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

/** views */

ul.anchors > li > a { color: #000; text-decoration: none; font-family: monospace; }
ul.anchors > li > a:hover { background: rgb(240,240,240); text-decoration: underline; }

#includeView{
	background: hsl(30,20%,25%);
}
#includeView .scroller{
    border-top:1px solid #333;
    border-bottom: 1px solid #333;
}

#maskView .examples {
    padding-bottom: 40px;
}
#maskView .example {
    margin: 10px 0px;
    padding-bottom: 5px;
	border-bottom: 2px dotted #888;
}
#maskView .example pre, #maskView .example > div {
    margin-left:30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.api li > code, .example li > code {
    cursor: pointer;
    font-size: 1.1em;
}


.api-list td {
	padding: 5px;
	font-family: monospace;
}
.api-list td:first-child {
	border-right: 1px solid #999;
}

/*--.api li:hover > code, .example li:hover > code{ font-weight: 600; }*/



.badge { position: relative; cursor: pointer;}
.badge:before {
	content: 'i';
	font-family: monospace;
	font-size: 10px;
	position: absolute;
	width:16px;
	height:16px;
	line-height: 16px;
	text-align: center;

	left: -16px;
	top: -5px;
	background: rgba(255,255,255,.7);
	border-radius: 50%;
	color:blue;
	opacity: .4;
}
.badge:hover:after{
	opacity: 1;
}

hr {
	opacity: .4;
}
li.hr {
	list-style: none;
	border-bottom: 1px solid #999;
	padding:0px;
	position: relative;
	margin: 7px 0px;
	left: -20px;
}

.ie9Alert{
	position: fixed;
	top:0px; left:0px; bottom:0px; right:0px;
	filter: alpha(opacity=80);
	color:white;
	font-size: 1.5em;
	text-align: center;

	background:#333;
	z-index: 999999;
}

ol > li {
	margin-bottom: 5px;
}
