
menu {
    display: block;
    position: relative;


    top:0px; left:0px;
    margin:0px;
	padding:0px;
    height: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

    background:#2D2C2B url(../images/dark_tire.png) 0 0 repeat;
    color:rgb(240,245,240);
    /*text-shadow: 0px 0px 4px rgb(0,0,0);*/

    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;

    -webkit-user-select: none;

	width:250px;

	float: left;

	box-shadow: inset -10px 0px 20px #000;
}
menu:hover {
    color:rgb(220,225,220);
    z-index: 999;
}

.menu-help:after{
    content:' ';
    position:absolute;
    right: -3px;
    top:0px;
    width:3px;
    height:100%;
    background:rgba(0,0,0,.4);
}

menu > .scroller {
	height:100%;
}
menu > .scroller > .scroller-container {
	padding: 0px 40px;
}


menu .viewTitle {cursor: pointer; opacity: .7; -webkit-transition:opacity 200ms linear; font-size: .9em;}
menu .viewTitle:hover { text-decoration: underline; opacity: 1;}

menu > .menu-help {
	position:absolute;
	top:0px; left: 105%;
	width:100%;
	height: 100%;
	z-index: -1;
	background: inherit;
	opacity: 1;
	display: none;
	-webkit-transition: all 100ms linear;
	font-size: small;
}
.menu-help > p {padding: 10px;}


.menu-help:before {
	content:' ';
    position:absolute;
    left: -3px;
    top:0px;
    width:3px;
    height:100%;
    background:rgba(0,0,0,.4);
}

menu h3 {
	font-size: 1em;
	margin:0px;
	padding: 10px 0px;
}

menu .selected {
	font-weight: bold;
}
