@import "style/lesshat.less";

#views {
	height: 100%;
	min-height: 300px;
    line-height: 1.3em;

	
    margin:0 auto;
	box-shadow: 0px -10px 30px #000;
}

#views .view {
    /*max-width: 800px;
    min-width: 600px;
    */
	min-height: 200px;
	height: 100%;
	
	.box-sizing(border-box);
	
    position: relative;
    margin: 0 auto;

    display: none;
	z-index: 999;
}

#views .view.active {
    display: block;
}

.view header, .view footer {
	.box-sizing(border-box);
	
    background:#4C3F33; 

    color:rgb(250,255,250);
    padding: 0px 20px;
    text-shadow: 0px 0px 3px #000;
    font-size: .95em;
    letter-spacing: 1px;
    
	
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 998;



    display: block;
}

.view header {
    background: none;
	position: relative;
	top: -45px;
}

.view header a {
	color: #ddd;
}


.view > .side-menu {
	width: 250px;
	left: -250px;
	
	position: absolute;
	text-align: right;
	
	list-style: none;
}

.side-menu {
	overflow: hidden;
	
	.group{
		display: none;
		
			
		> .side-menu-item {
			.box-sizing(border-box);
			
			padding:4px 8px;
			margin: 3px 3px 3px 40px;
			
			background: rgba(210,255,220, .7);
			
			cursor: pointer;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
	}
}

.side-menu > .group.active{
	display: block;
}



/*
.view > header:after{
	content: ' ';
	position: absolute;
	bottom:-20px;
	height: 20px;
	width:100%;
	left:0px;

	background: -moz-linear-gradient(top, rgba(0,0,0, .4) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
}*/

.view > .scroller {
	max-width: 800px;
	margin: 0 auto;

	/*border: 2px solid #4C3F33;
	border-top: 4px dashed #4C3F33;*/

	position: relative;
	z-index: 9999;
	
	.translateY(0px);
}

.view section {
    padding: 10px 20px;
}

.view footer {


   /* border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;*/

    /*position: absolute;   */
    bottom: 0px;
    width:100%;

    border-bottom:0px solid #333;
    border-top:1px solid #333;
}

.view > .scroller {
	opacity: 0.9;
    position: absolute; top:4px; left:0px; right:0px; bottom: 0px;
}

.view > .scroller.maximized {
    top:-50px; left:0px; right:0px; bottom: 0px;
	opacity: 1;
}
