
#views {
	height: 100%;
	min-height: 300px;
    line-height: 1.3em;

	font-size:.95em;
    margin:0 auto;

	box-shadow: 0px -10px 30px #000;
}

#views .view {
    /*max-width: 800px;
    min-width: 600px;
    */
	min-height: 200px;
	height: 100%;
    box-sizing: border-box;
	-moz-box-sizing:border-box;
    position: relative;

    margin: 0 auto;



    display: none;

}

#views .view.active {
    display: block;
}

.view header, .view footer {
    background:#4C3F33; /*rgb(100,100,100); */

    color:rgb(250,255,250);
    padding: 0px 20px;
    text-shadow: 0px 0px 3px #000;
    font-size: .95em;
    letter-spacing: 1px;
    box-sizing: border-box;
	-moz-box-sizing: border-box;

    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 100000;



    display: block;
}

.view header {
    background: none;
	position: relative;
	top: -45px;
}

.view header a {
	color: #ddd;
}

/*
.view > header:after{
	content: ' ';
	position: absolute;
	bottom:-20px;
	height: 20px;
	width:100%;
	left:0px;

	background: -moz-linear-gradient(top, rgba(0,0,0, .4) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0, .4) 0%,rgba(255,255,255,0) 100%);
}*/

.view > .scroller {
	max-width: 800px;
	margin: 0 auto;
	border: 2px solid #4C3F33;
	border-top: 4px dashed #4C3F33;
}

.view section {
    padding: 10px 20px;
}

.view footer {


   /* border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;*/

    /*position: absolute;   */
    bottom: 0px;
    width:100%;

    border-bottom:0px solid #333;
    border-top:1px solid #333;
}

.view div.scroller {
    position: absolute; top:-4px; left:0px; right:0px; bottom: 0px;
}

.view div.scroller.maximized {
    top:0px; left:0px; right:0px; bottom: 0px;


}
