#views .view {
    max-width: 800px;
    min-width: 600px;    
    height: 98%;
    min-height: 200px;
    box-sizing: border-box;
    position: relative;
    top: 1%;
    margin: 0 auto;
    
    box-shadow: 0px 0px 8px #000;
    
    
    background:rgb(252,252,252);
    
    display: none;
}

#views .view.active {
    display: block;
}