/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
	font-size:.93em;
}
/*
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}*/

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/*
	glDatePicker style inspired by the calendar app in FireFly 3.0 rom

	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
	http://forum.xda-developers.com/showthread.php?t=914284
*/

/* Calendar container div */
.gldp-android
{
	float:left;
	font-family:"trebuchet ms" !important;
	background-color:#222 !important;
	font-size:0.8em !important;
	font-weight:bold !important;
	border:solid 1px #222;
}

/* Table style */
.gldp-android table
{
	border-spacing:1px;
	border-collapse:inherit;
}

/* Default row height */
.gldp-android tr
{
	line-height:28px;
}

/* Default style of cell */
.gldp-android td
{
	margin:0;
	padding:0;
	width:33px;
	text-align:center;
}

/* Previous and Next arrows */
.gldp-android-prevnext
{
	font-family:"times new roman";
	background-color:#222;
	color:#fff;
	cursor:pointer;
}

/* Month Year title */
.gldp-android-monyear
{
	background-color:#222;
	color:#fff;
	font-size:0.9em;
}

/* Days of the week (Sun, Mon, ...) */
.gldp-android-dow
{
	background-color:#424852;
	color:#ddd;
	font-size:0.8em;
}

/* Selectable days */
.gldp-android-day
{
	background-color:#000;
	color:#fff;
	border:solid 1px #000;
}
.gldp-android-day-hover
{
	background-color:#000;
	color:#fff;
	border:solid 1px #00afff;
	cursor:pointer;
}

/* Selected days */
.gldp-android-selected
{
	background-color:#024;
	color:#fff;
	border:solid 1px #008faf;
	cursor:wait;
}

/* Today */
.gldp-android-today
{
	background-color:#00afff;
	color:#fff;
	border:solid 1px #00afff;
}
.gldp-android-today-hover
{
	background-color:#fff;
	color:#00afff;
	border:solid 1px #00afff;
	cursor:pointer;
}

/* Weekends */
.gldp-android-sat, .gldp-android-sat-hover
{
	background-color:#000;
	color:#00afff;
	border:solid 1px #000;
}

.gldp-android-sun, .gldp-android-sun-hover
{
	background-color:#000;
	color:#ff4f00;
	border:solid 1px #000;
}

/* Non-selectable day.  Includes: previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-android-noday
{
	background-color:#222;
	border:solid 1px #222;
	color:#666;
	font-weight:normal;
	cursor:wait;
}
.dw{min-width:170px;position:absolute;top:5%;left:0;z-index:1001;color:#000;font-family:arial,verdana,sans-serif;font-size:12px;text-shadow:none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.dwi{position:static;margin:5px;display:inline-block}.dwwr{zoom:1;padding:0 10px;text-align:center}.dwo{width:100%;background:#000;position:absolute;top:0;left:0;z-index:1000;opacity:.7;filter:Alpha(Opacity=70)}.dw-bubble-bottom{margin-top:18px}.dw-bubble-top{margin-top:-18px}.dw-bubble .dw-arrw{position:absolute;left:0;width:100%}.dw-bubble-top .dw-arrw{bottom:-36px}.dw-bubble-bottom .dw-arrw{top:-36px}.dw-bubble .dw-arrw-i{margin:0 30px;position:relative;height:36px}.dw-bubble .dw-arr{display:block}.dw-arr{display:none;position:absolute;left:0;width:0;height:0;border-width:18px 18px;border-style:solid;margin-left:-18px}.dw-bubble-bottom .dw-arr{top:0;border-color:transparent transparent #fff transparent}.dw-bubble-top .dw-arr{bottom:0;border-color:#fff transparent transparent transparent}.dwc{float:none;margin:0 2px 5px 2px;padding-top:30px;display:inline-block}.dwcc{clear:both}.dwl{text-align:center;line-height:30px;height:30px;white-space:nowrap;position:absolute;top:-30px;width:100%}.dwv{padding:10px 0;border-bottom:1px solid #000}.dwrc{-webkit-border-radius:3px;border-radius:3px}.dwwc{margin:0;padding:0 2px;position:relative;background:#000;zoom:1}.dwwl{margin:4px 2px;position:relative;background:#888;background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.35,#333),color-stop(0.50,#888),color-stop(0.65,#333),to(#000));background:-moz-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);background:-ms-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);background:-o-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);z-index:1010}.dww{margin:0 2px;overflow:hidden;position:relative}.dwsc .dww{color:#fff;background:#444;background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.45,#444),color-stop(0.55,#444),to(#000));background:-moz-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%);background:-ms-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%);background:-o-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%)}.dww ul{list-style:none;margin:0;padding:0;position:relative;z-index:2}.dww li{list-style:none;margin:0;padding:0 5px;display:block;text-align:center;line-height:40px;font-size:26px;white-space:nowrap;text-shadow:0 1px 1px #000;opacity:.3;filter:Alpha(Opacity=30)}.dww li.dw-v{opacity:1;filter:Alpha(Opacity=100)}.dww li.dw-h{visibility:hidden}.dwwb{position:absolute;z-index:4;left:0;cursor:pointer;width:100%;height:40px;text-align:center;opacity:1;-webkit-transition:opacity .2s linear}.dwa .dwwb{opacity:0}.dwwbp{top:0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;font-size:40px}.dwwbm{bottom:0;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;font-size:32px;font-weight:bold}.dwpm .dwwc{background:transparent}.dwpm .dww{margin:-1px}.dwpm .dww li{text-shadow:none}.dwpm .dwwol{display:none}.dwwo{position:absolute;z-index:3;top:0;left:0;width:100%;height:100%;background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.52,rgba(44,44,44,0)),color-stop(0.48,rgba(44,44,44,0)),to(#000));background:-moz-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%);background:-ms-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%);background:-o-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%)}.dwwol{position:absolute;z-index:1;top:50%;left:0;width:100%;height:0;margin-top:-1px;border-top:1px solid #333;border-bottom:1px solid #555}.dwbg .dwb{display:block;height:40px;line-height:40px;padding:0 15px;margin:0 2px;font-size:14px;font-weight:bold;text-decoration:none;text-shadow:0 -1px 1px #000;border-radius:5px;-webkit-border-radius:5px;box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);color:#fff;background:#000;background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5,#000),color-stop(0.5,#6e6e6e));background:-moz-linear-gradient(#6e6e6e 50%,#000 50%);background:-ms-linear-gradient(#6e6e6e 50%,#000 50%);background:-o-linear-gradient(#6e6e6e 50%,#000 50%);cursor:pointer;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.dwbc{padding:5px 0;text-align:center;clear:both}.dwbw{display:inline-block;width:50%;position:relative;z-index:1010}.dwbc-p .dwbw{width:33%}.dwhl{padding-top:10px}.dwhl .dwl{display:none}.dwbg{background:#fff;border-radius:3px;-webkit-border-radius:3px}.dwbg .dwpm .dww{color:#000;background:#fff;border:1px solid #AAA}.dwbg .dwwb{background:#ccc;color:#888;text-shadow:0 -1px 1px #333;box-shadow:0 0 5px #333;-webkit-box-shadow:0 0 5px #333}.dwbg .dwwbp{background:-webkit-gradient(linear,left bottom,left top,from(#bdbdbd),to(#f7f7f7));background:-moz-linear-gradient(#f7f7f7,#bdbdbd);background:-ms-linear-gradient(#f7f7f7,#bdbdbd);background:-o-linear-gradient(#f7f7f7,#bdbdbd)}.dwbg .dwwbm{background:-webkit-gradient(linear,left bottom,left top,from(#f7f7f7),to(#bdbdbd));background:-moz-linear-gradient(#bdbdbd,#f7f7f7);background:-ms-linear-gradient(#bdbdbd,#f7f7f7);background:-o-linear-gradient(#bdbdbd,#f7f7f7)}.dwbg .dwb-a{background:#3c7500;background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5,#3c7500),color-stop(0.5,#94c840));background:-moz-linear-gradient(#94c840 50%,#3c7500 50%);background:-ms-linear-gradient(#94c840 50%,#3c7500 50%);background:-o-linear-gradient(#94c840 50%,#3c7500 50%)}.dwbg .dwwl .dwb-a{background:#3c7500;background:-webkit-gradient(linear,left bottom,left top,from(#3c7500),to(#94c840));background:-moz-linear-gradient(#94c840,#3c7500);background:-ms-linear-gradient(#94c840,#3c7500);background:-o-linear-gradient(#94c840,#3c7500)}.android-ics .dw{padding:0;color:#31b6e7;background:#292829;border-top:1px solid #4a494a}.android-ics .dwwc,.android-ics .dwwl,.android-ics .dww,.android-ics .dwb{background:0}.android-ics .dwwr{padding:0}.android-ics .dwc{margin:0;padding:30px 10px 1px 10px}.android-ics .dwhl{padding:1px 10px}.android-ics .dwv{height:36px;line-height:36px;padding:0;border-bottom:2px solid #31b6e7;font-size:18px}.android-ics .dwwl{margin:0 2px}.android-ics .dww{border:0}.android-ics .dwpm .dww{border:0;background:0}.android-ics .dww li{color:#fff;font-size:18px;text-shadow:none}.android-ics .dwwo{background:-webkit-gradient(linear,left bottom,left top,from(#282828),color-stop(0.52,rgba(40,40,40,0)),color-stop(0.48,rgba(40,40,40,0)),to(#282828));background:-moz-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%);background:-ms-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%);background:-o-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%)}.android-ics .dwwb{background:#292829;box-shadow:none;-webkit-box-shadow:none}.android-ics .dwwb span{display:none}.android-ics .dwwb:after{position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;color:#7e7e7e;width:0;height:0;border-width:8px;border-style:solid;content:''}.android-ics .dwwbp:after{border-color:transparent transparent #7e7e7e transparent}.android-ics .dwwbm:after{border-color:#7e7e7e transparent transparent transparent}.android-ics .dwwl .dwb-a{background:#292829}.android-ics .dwwbp.dwb-a:after{border-color:transparent transparent #319abd transparent}.android-ics .dwwbm.dwb-a:after{border-color:#319abd transparent transparent transparent}.android-ics .dwwol{width:60%;left:20%;height:36px;border-top:2px solid #31b6e7;border-bottom:2px solid #31b6e7;margin-top:-20px;display:block}.android-ics .dwbc{border-top:1px solid #424542;padding:0}.android-ics .dwb{height:36px;line-height:36px;padding:0;margin:0;font-weight:normal;text-shadow:none;box-shadow:none;border-radius:0;-webkit-border-radius:0;-webkit-box-shadow:none}.android-ics .dwb-a{background:#29799c}.android-ics .dwb-s .dwb,.android-ics .dwb-n .dwb{border-right:1px solid #424542}.android-ics.light .dw{background:#f5f5f5}.android-ics.light .dww li{color:#000}.android-ics.light .dwwo{background:-webkit-gradient(linear,left bottom,left top,from(#f5f5f5),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#f5f5f5));background:-moz-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%);background:-ms-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%);background:-o-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%)}.android-ics.light .dwwb{background:#f5f5f5;color:#f5f5f5}.android-ics.light .dwbc{border-top:1px solid #dbdbdb}.android-ics.light .dwb{color:#000}.android-ics.light .dwb-a{color:#fff}.android-ics.light .dwb-s .dwb,.android-ics.light .dwb-n .dwb{border-right:1px solid #dbdbdb}.android-ics .dw-bubble-bottom .dw-arr{border-color:transparent transparent #292829 transparent}.android-ics .dw-bubble-top .dw-arr{border-color:#292829 transparent transparent transparent}.android-ics.light .dw-bubble-bottom .dw-arr{border-color:transparent transparent #f5f5f5 transparent}.android-ics.light .dw-bubble-top .dw-arr{border-color:#f5f5f5 transparent transparent transparent}
.-hidden {
	display: none;
}

.-hidden.-show {
	display: block;
}

.-tabs.scrollbar > .-tab-panels > .-hidden {
	display: block;
}



.api {
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
}

.api a {
    color: #111;
    text-decoration: none;
}

.api-item{
    margin:5px;
    border-bottom: 1px dashed #777;
}

.api-name {
    font-size:1.1em;
    font-weight: bold;
}


.api-arguments .type{
    display: inline-block;
}
.api-arguments p{
    margin: 0;
}

.api-arguments .argument {
    white-space: nowrap;
}


.method-returns {
    display: inline-block;
    font-weight: 100;
    color:#555;
    font-size: .9em;
}

.api-anchor {
    display: none;
    margin: auto 5px;
    color: #333;
}

.api-name:hover > .api-anchor {
    display: inline-block;
}


.api-menu > .api-files {
    float:left;
    margin: auto 10px;
}

.api-files > .api-file-item {
    padding: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.api-files > .active {
    background: #eee;
    font-weight: bold;
}

.api-menu .api-file-path{
    font-size: .9em;
    color:#555;
    font-style: italic;
    margin-left: 10px;
}
.api-menu a {
    color: inherit;
    text-decoration: none;
}


.api-documentation {
    clear:both;
}

.api-documentation > .api-file-doc, .api-tabs > .api-tab {
    display: none;
}

.api-documentation > .api-file-doc.active, .api-tabs > .api-tab.active  {
    display: block;
}

.api-tab > .api-file-item {
    cursor: pointer;
}
.api-tab > .api-file-item:hover {
    text-decoration: underline;
}

.type > a, .type > span, a.type {
    padding: 0px 4px;
    margin: 0px 4px;
    border-radius: 3px;
    border: 1px solid #ddd;

}

.type > a, a.type {
    background: #83BF51;
    color:#000;
}

.type > span {
    background: #eee;
}

.type-return {
    color: rgb(0,100,0);
    font-weight: bold;
}

.api-tags {
    font-size: .9;
    font-family: monospace;
}
.api-tags > span {
    padding: 3px 5px;
    border: #ddd;
    border-radius: 3px;
}
.api-tags > .api-deprecated{
    background: #eee;
    color: #990000;
}

/**
 * downloader Styles
 *
 * example:
 *
 * .-downloader 
 *
 */

.-downloader input[type=text] {
	padding: 0px 5px;
	margin: 0px 5px;
	border: 0px;
	background: none;
	outline: none;
	
	border-bottom: 1px dotted green;
	
	text-align: center;
	width: 50px;
}

.-downloader .comment {
	opacity: .5;
	font-size: .9em;
}

.-downloader .libs {
	padding-left: 30px;
	font-family: monospace
}

.-downloader .exports-group {
	float: left;
	margin-right: 30px;
}

.-downloader .modules { padding-left: 20px; }
.-downloader .modules.disabled { opacity: .6; }
#views {
  height: 100%;
  min-height: 300px;
  line-height: 1.3em;
  font-size: .95em;
}
#views > .view {
  margin-left: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: none;
  z-index: 999;
  height: 100%;
}
#views > .view.active {
  display: block;
}
#views > .view.fullpage {
  margin-left: 0;
}
.view header > .header-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fafffa;
  padding: 0px 20px;
  font-size: .95em;
  letter-spacing: 1px;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 998;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  background: url('/images/dust2-grad.png') 0 0 repeat-x;
}
.view > header {
  background: none;
  position: relative;
  top: 0px;
  left: 250px;
  right: 0px;
  position: fixed;
  z-index: 3;
}
.view > header a {
  color: #333;
}
.view > .side-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 100%;
  left: -250px;
  position: absolute;
  text-align: right;
  list-style: none;
  overflow: auto;
  overflow-x: hidden;
}
.side-menu .group {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
}
.side-menu .group > .side-menu-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 3px 3px 3px 40px;
  background: rgba(61, 155, 68, 0.6);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 100ms ease-in;
  -moz-transition: background 100ms ease-in;
  -o-transition: background 100ms ease-in;
  -ms-transition: background 100ms ease-in;
  transition: background 100ms ease-in;
}
.side-menu .group > .side-menu-item:hover {
  text-decoration: underline;
}
.side-menu .group > .side-menu-item.active {
  background: #3d9b44;
}
.side-menu > .group.active {
  display: block;
}
.view > .scroller {
  height: 100%;
  overflow: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-overflow-scrolling: touch;
}
.view > .scroller > .scroller-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  -webkit-transform: translateZ(0px);
}
.view > .scroller > .scroller-container > .scroller-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;padding-right: 5px;
}
.fullpage.view > .scroller > .scroller-container > .scroller-content {
  max-width: none;
  padding: 0;
}
.view > .scroller.maximized {
  top: -50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
}
.scroller-container > footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  padding: 0 30px;
  background: rgba(61, 155, 68, 0.09999999999999998);
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #000;
  font-weight: 100;font-size: .9em;
  line-height: 40px;
  opacity: .5;
  -webkit-transition: opacity 200ms ease-in, background 200ms ease-in, color 200ms linear;
  -moz-transition: opacity 200ms ease-in, background 200ms ease-in, color 200ms linear;
  -o-transition: opacity 200ms ease-in, background 200ms ease-in, color 200ms linear;
  -ms-transition: opacity 200ms ease-in, background 200ms ease-in, color 200ms linear;
  transition: opacity 200ms ease-in, background 200ms ease-in, color 200ms linear;
}
.scroller-container > footer:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent;
  border-bottom-color: rgba(61, 155, 68, 0.09999999999999998);
  position: absolute;
  left: -40px;
  top: 0px;
  content: ' ';
  -webkit-transition: -webkit-border-color 200ms ease-in;
  -moz-transition: -moz-border-color 200ms ease-in;
  -o-transition: border-color 200ms ease-in;
  -ms-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
}
.scroller-container > footer:hover {
  color: white;
  opacity: 1;
  background: #3d9b44;
}
.scroller-container > footer:hover:before {
  border-bottom-color: #3d9b44;
}
.footer-left {
  float: left;
}
.footer-right {
  text-align: right;
}
.footer-right > ul {
  list-style: none;
  display: inline-block;
}
.footer-right > ul > li {
  display: inline-block;
  padding: 0 10px;
}

menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 101;
  background: #f3f0ed url(/images/dust2.png) 0 0 repeat;
  color: #191919;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -o-transition: -o-transform 200ms ease-in;
  -ms-transition: -ms-transform 200ms ease-in;
  transition: transform 200ms ease-in;
}
menu:hover {
  /*z-index: 999;*/

}
menu.hidden {
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
}
menu > .menu-show {
  opacity: 0;
  width: 32px;
  height: 32px;
  background: url('/images/ico/menu.png') center center no-repeat;
  position: absolute;
  right: -40px;
  top: 10px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  pointer-events: none;
}
menu.hidden > .menu-show {
  cursor: pointer !important;
  opacity: 1;
  pointer-events: auto !important;
}
menu.hidden.forced {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
  color: 5px 0px 20px rgba(0, 0, 0, 0.5);
}
menu.hidden.forced > .menu-show {
  opacity: 0;
}
.menu-help:after {
  content: ' ';
  position: absolute;
  right: -3px;
  top: 0px;
  width: 3px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
menu > .scroller {
  height: 100%;
  overflow: auto;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -o-transition: -o-transform 200ms ease-in;
  -ms-transition: -ms-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-overflow-scrolling: touch;
}
menu > .scroller > .scroller-container {
  -webkit-transform: translateZ(0px);
  padding: 0px;
}
.menu-logo {
  padding-top: 15px;
  text-align: center;
}
menu .viewTitle {
  cursor: pointer;
  opacity: .7;
  font-size: .9em;
}
menu .viewTitle:hover {
  opacity: 1;
}
menu > .menu-help {
  position: absolute;
  top: 0px;
  left: 105%;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: inherit;
  opacity: 1;
  display: none;
  -webkit-transition: all 100ms linear;
  font-size: small;
}
.menu-help > p {
  padding: 10px;
}
.menu-help:before {
  content: ' ';
  position: absolute;
  left: -3px;
  top: 0px;
  width: 3px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
menu h3 {
  font-size: 1em;
  margin: 0px;
  padding: 10px 0px;
}
menu ul {
  list-style: none;
}
menu .selected {
  font-weight: bold;
}
.roll-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.roll-link span {
  padding: 4px 5px;
  display: block;
  position: relative;
  padding: 0 2px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.roll-link span::after {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2px;
  color: #fff;
  background: #3d9b44;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -o-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}
.roll-link:hover span {
  color: grey;
  background: #3d9b44;
  -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -o-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: local('Michroma'), url(http://themes.googleusercontent.com/static/fonts/michroma/v4/FZQqjemuMkmQGwk1YxMXlfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
html,
body {
  margin: 0;
  padding: 0;
  background: #fafdfa;
  min-width: 600px;
  position: relative;
  min-height: 500px;
  height: 100%;
  cursor: default;
}
body {
  height: 100%;
  color: #333;
  background-color: #222;
  background: #f3f0ed url(../images/dust2.png) 0 0 repeat;
}
body,
div,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
button {
  font-family: 'Open Sans', 'Segoe UI', 'Helvetica', sans-serif;
}
a {
  color: inherit;
}
ul {
  margin: 0px;
}
div {
  cursor: inherit;
}
td {
  vertical-align: top;
}
td > ul {
  margin-top: 0px;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 161px;
  width: 100%;
  z-index: 0;
  background: red;
  background-size: 100%;
}
.hint {
  padding: 2px 8px;
  background: #c8c8c8;
  border: 1px solid #e6e6e6;
  color: #324632;
  text-shadow: 0px 0px 4px #eee;
  font-family: monospace;
}
.pageWrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;min-width: 800px;
  position: relative;
  z-index: 100;
}
button {
  outline: none;
  position: relative;
  color: #292929;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 6px 18px;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgba(15, 15, 15, 0.1);
  background: #e1e1e1;
  text-overflow: ellipsis;
  cursor: pointer;
  letter-spacing: 1px;
}
button:active {
  background: #d1d1d1;
}
.radioButtons > button {
  border-right-width: 0px;border-left: none;border-radius: 0px;
  -webkit-transition: -webkit-box-shadow 100ms linear background-color 200ms linear;
  -moz-transition: -moz-box-shadow 100ms linear background-color 200ms linear;
  -o-transition: box-shadow 100ms linear background-color 200ms linear;
  -ms-transition: box-shadow 100ms linear background-color 200ms linear;
  transition: box-shadow 100ms linear background-color 200ms linear;
  line-height: 1em;
  text-shadow: none;
}
.radioButtons > button:first-child {
  border-left-width: 1px;border-left: 1px solid rgba(15, 15, 15, 0.1);
}
.radioButtons > button:last-child {
  border-right-width: 1px;
}
.radioButtons > button.active {
  border-color: rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #F7F7F7;
  text-shadow: 0px 0px 5px #000;
  background: #191919;
}
.tabPanel > * {
  display: none;
}
.tabPanel > *.active {
  display: block;
}
/** content */
h6,
h5,
h4 {
  margin: 3px 0px;
  padding: 4px 0px;
}
h5 {
  color: #444;
}
code {
  border-left: 2px solid #4d4033;
  display: inline-block;
  background: rgba(88, 88, 88, 0.1);
}
pre > code {
  background: transparent;
}
code,
pre {
  padding: 0px 5px !important;
  margin: 2px !important;
}
ul.tiny {
  margin-left: 8px;
  padding-left: 5px;
}
ul.tiny li {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 2px dotted #bbb;
}
p {
  padding: 5px;
  margin: 3px;
}
/** views */
ul.anchors > li > a {
  color: #000;
  text-decoration: none;
  font-family: monospace;
}
ul.anchors > li > a:hover {
  background: #f0f0f0;
  text-decoration: underline;
}
#includeView {
  background: #4d4033;
}
#includeView .scroller {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
#maskView .examples {
  padding-bottom: 40px;
}
#maskView .example {
  margin: 10px 0px;
  padding-bottom: 5px;
  border-bottom: 2px dotted #888;
}
#maskView .example pre,
#maskView .example > div {
  margin-left: 30px;
  border-top-left-radius: 6px;border-left-radius: 6px;
}
.api li > code,
.example li > code {
  cursor: pointer;
  font-size: 1.1em;
}
.api-list td {
  padding: 5px;
  font-family: monospace;
}
.api-list td:first-child {
  border-right: 1px solid #999;
}
/*--.api li:hover > code, .example li:hover > code{ font-weight: 600; }*/
.badge {
  position: relative;
  cursor: pointer;
}
.badge:before {
  content: 'i';
  font-family: monospace;font-size: 10px;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  top: -16px;
  left: -5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: blue;
  opacity: .4;
}
.badge:hover:after {
  opacity: 1;
}
hr {
  opacity: .4;
}
li.hr {
  list-style: none;
  border-bottom: 1px solid #999;
  padding: 0px;
  position: relative;
  margin: 7px 0px;
  left: -20px;
}
.ie9Alert {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  filter: alpha(opacity=80);
  color: white;
  font-size: 1.5em;
  text-align: center;
  background: #333;
  z-index: 999999;
}
ol > li {
  margin-bottom: 5px;
}
.info > h4 {
  color: #595853;
}
.about-list > li {
  /*list-style: none;*/

  margin: 10px auto;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  padding: 10px;
}
/** scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3d9b44;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #3d9b44;
}
